/* Common CSS area start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img,
svg {
  vertical-align: middle;
}

body {
  overflow: hidden;
}

/* Common CSS area end */

/* Root css area start */

:root {
  --primary-font: "Nunito", sans-serif;
  --blue: #11175d;
  --bgcolor: #086fa4;
  --white: #ffffff;
  --black: #181818;
}

/* Root css area end */

/* Input area start */

.input-all {
  width: 75%;
  margin: 20px auto !important;
  color: var(--blue);
  font-size: 20.641px;
  font-weight: 600;
  line-height: normal;
}

.input-all label {
  color: var(--blue) !important;
  font-size: 13.76px;
  font-weight: 600;
  letter-spacing: 1.032px;
}

.pass-main {
  position: relative;
}

.pass-icon {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}

.errors{
  color: red !important;
  opacity: 1 !important;
  text-align: left;
  width: 75%;
  margin: 0 auto !important;
}

/* Input area end */
